n8n-workflows/Content Alchemist - Core Pipeline.json
{
  "name": "Content Alchemist - Core Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        56
      ],
      "id": "92244c4e-8837-4fc3-8404-539d45411e13",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77754749-6cc7-4649-b5a8-130357968fe4",
              "name": "youtube_url",
              "value": "https://www.youtube.com/watch?v=pC-4STxxY88",
              "type": "string"
            },
            {
              "id": "252bf02e-67a9-4b07-9486-a55464530f91",
              "name": "partner_name",
              "value": "Groupon",
              "type": "string"
            },
            {
              "id": "fd62426b-58f0-492d-b821-9d69e421aac4",
              "name": "campaign_id",
              "value": "GROUPON-001",
              "type": "string"
            },
            {
              "id": "ba26a802-2d33-4c09-97da-e771f3d434f7",
              "name": "content",
              "value": "# tactiq.io free youtube transcript # No title found # https://www.youtube.com/watch/pC-4STxxY88  00:00:00.000 No text 00:00:02.800 Welcome to another episode of food 00:00:04.400 trends as we explore through lifting 00:00:06.000 many ash various trends in the food and 00:00:08.960 drink world. Boys, are you ready for 00:00:10.880 some surprises? I'm feeling trendy. 00:00:13.200 You're looking? Yes, I am. Ever. Lift 00:00:17.039 clush. A 00:00:19.920 hello from Eb's personal collection. No, 00:00:22.720 that looks like it looks like a torch. 00:00:25.359 It looks like a water torch. Yeah. It 00:00:27.439 looks like one of those ones you see 00:00:28.960 bobbing in the sea. It's a boy. A boy 00:00:32.000 torch. Oh, or a buoy. Or a torch for a 00:00:35.120 boy. But you have to hold it. You have 00:00:36.880 to hold it. It turns on. Okay. Woah. 00:00:38.480 Woah. Woah. Woah. What the heck is this? 00:00:40.239 It says in the side of it, which makes 00:00:42.320 no sense. Scolop light. That's the bit 00:00:45.040 to do with food. So, it is a sea thing. 00:00:47.120 Auto immersion. So, it's been in the 00:00:48.480 water. The water makes the connection. 00:00:50.480 Therefore, it's on. Which is why your 00:00:51.920 hand is doing similar cuz your hand has 00:00:53.680 got moisture. It perspires and does the 00:00:55.840 water connection that describes grow 00:00:58.239 towards the light. Is it like moths in a 00:01:00.160 bug's life? Photosynthesis. Boys, you're 00:01:02.399 very close without the addition of the 00:01:04.319 second cloch, which is another clue. 00:01:06.479 Lift 00:01:07.880 clo and you have to find them in the 00:01:10.600 sand. And this helps you find my hands 00:01:14.000 are less clammy. Are you sure that's not 00:01:15.280 a floaty device? It is a uh one bang. I 00:01:19.920 was right. You were right. Rope onto 00:01:22.240 there. cade at the bottom. Where did I 00:01:24.479 leave my scolops? Yeah, where did I 00:01:26.159 leave my scolops? It's a fair point, but 00:01:28.640 it's not a boy light. You were closer 00:01:32.880 with the Bug's Life moth reference. 00:01:36.040 Scolops have about 200 00:01:39.079 eyes and they are really attracted to 00:01:42.000 lights. So, this is brand new technology 00:01:45.360 that has been discovered to help more 00:01:48.680 sustainably farm and harvest scolops. 00:01:52.720 Scolops have eyes. Yep. And they're 00:01:56.000 attracted to light. 95% of scolops in 00:01:59.600 the UK are caught with dredging methods. 00:02:02.719 So, they drag something along the seabed 00:02:05.439 and it doesn't discriminate. It scrapes 00:02:07.759 up scolops, good, but also everything 00:02:09.840 else, marine life and other things that 00:02:12.080 is doing terrible damage to our seabeds. 00:02:14.480 The alternative, which are the scolops 00:02:16.640 that we use here in the studio, are 00:02:18.000 always hand dived. Very expensive. 00:02:20.480 You're paying for humans to dive and 00:02:22.640 pick them up by hand. It can't be done 00:02:24.160 in bad weather. So, lots of limitations. 00:02:27.200 This is potentially a brand new method 00:02:29.200 that fits in between. Very exciting. 00:02:32.080 Should we talk about it while you eat 00:02:33.840 some scolops? Yes. 00:02:36.720 What you've got in front of you is a 00:02:38.080 delicious sesame yogurt with some 00:02:39.920 scolops, some edetami, some pickled 00:02:42.360 ingredients, and a beautiful herb oil. 00:02:44.879 Oh yeah. 00:02:47.040 I mean, first off, do you like scolops? 00:02:49.280 I think they are my favorite seafood. 00:02:51.200 They're so versatile. They just they are 00:02:53.440 incredibly satisfying, but I've always 00:02:54.879 been nervous about buying them because 00:02:57.519 they are quite expensive and you need to 00:02:59.440 get the right ones. So, this light and 00:03:02.239 the attachment that goes on the end of 00:03:03.680 the cage that allows the scolops to 00:03:05.120 crawl in and then not crawl out is from 00:03:08.879 scolop light. Um, so they're specially 00:03:11.599 designed lenses in that thing you're 00:03:12.959 holding, Jay, to radiate light outwards, 00:03:14.879 i.e. to attract more scolops. 00:03:16.640 Interestingly, this discovery happened 00:03:18.560 when fisheries scientists tried 00:03:21.280 experimenting with lights in crab and 00:03:23.599 lobster pots to see if it would make any 00:03:25.879 difference. It didn't. But when they 00:03:28.080 came back to the pots, they noticed an 00:03:29.519 unusual number of scolops in them. This 00:03:32.400 was literally a couple of years ago. So 00:03:33.840 they did a really interesting test. They 00:03:36.239 took 00:03:37.239 1,886 scolop pots, 900 or so without 00:03:40.799 lights, and they caught just two 00:03:43.239 scolops, 900 or so with lights, and they 00:03:46.879 caught 518 00:03:49.159 scolops. 00:03:50.760 22,000% increase. Oh wow. Are scolops 00:03:55.360 deep water? You wouldn't class it as a 00:03:57.200 deep sea life. Deep deep deep sea life 00:04:00.239 is like the weird the weird and 00:04:02.080 wonderful creatures you never get to 00:04:03.360 see. You can dive to them. Yeah, that's 00:04:05.360 what I mean. Like they're they're not 00:04:07.519 sheltered from all light. So they're not 00:04:09.519 that deep. No. So just is the light just 00:04:12.480 something completely different to them 00:04:14.239 or is it just Yeah. Yeah. It's a great 00:04:16.399 question. I mean that light can operate 00:04:18.560 up to a,000 m below sea before pressure 00:04:21.680 gets to it. But actually scolops 00:04:23.280 generally grow between 5 and 200 m below 00:04:27.280 uh the surface. And unless they're being 00:04:29.360 farmed on ropes or the equivalent, then 00:04:31.280 they'll basically settle on the nearest 00:04:32.720 ledge. And that might be 5 m down, it 00:04:34.400 might be 100 m down, but they'll never 00:04:36.639 go deeper than about 200 and that lasts 00:04:39.360 up to a,000 m. So wherever the scolops 00:04:41.759 are, if you have one of those, in 00:04:42.880 theory, it will attract the scolops. I'm 00:04:45.919 stuck between two worlds. In one world, 00:04:47.759 we're fishing for scolops more 00:04:50.160 efficiently and effectively. and 00:04:52.160 environmentally friendly. But in other 00:04:53.680 words, we're catching a lot more in that 00:04:56.720 are they there to be caught already or 00:04:58.400 were we catching the right amount? Is a 00:04:59.919 light light a good thing and a bad 00:05:01.680 thing? I read some really I think 00:05:03.919 interesting uh scientific marine biology 00:05:06.880 reports on scolops and how long they 00:05:08.720 take to mature and the age which we tend 00:05:10.240 to catch them and the certain size 00:05:11.440 before you have to throw them back. So 00:05:12.880 there are lots of controls in place. 00:05:15.360 This will sit somewhere between hand 00:05:17.199 dived and the dredging. And the dredging 00:05:19.520 is causing so much environmental damage 00:05:21.440 because of the seabed that this is on 00:05:23.520 the better scale, but isn't hand dived, 00:05:26.240 which costs an awful lot more and 00:05:28.639 actually can't be done in certain 00:05:29.919 weather conditions. So, it sits in the 00:05:31.680 middle and is trying to be the best of 00:05:33.199 both worlds, but it's brand new and 00:05:34.800 there's only a handful of um fishermen 00:05:37.039 in Cornwall currently using this 00:05:38.960 process. That's how new it is. to 00:05:41.039 anybody out there who who dies for 00:05:43.440 anything food fish related um invite us. 00:05:46.639 I I want to learn more about that world. 00:05:48.400 Given that the oceans are a huge carbon 00:05:50.960 sink and take in about 25% of carbon 00:05:53.520 emissions and give us about 50% of the 00:05:55.919 oxygen we breathe on the planet. They're 00:05:58.880 pretty important. So, do we care about 00:06:01.280 the health of our oceans? Yes or no? I 00:06:03.759 feel like you set us up there. I mean, 00:06:05.600 if I say no, I look like an absolute 00:06:07.360 now, don't I? 00:06:08.960 So obviously yes. Yes. Do we think we 00:06:12.160 can all afford hand dive scolops that 00:06:14.639 huge luxury? No. No. So is there a place 00:06:17.440 in the middle where as consumers if you 00:06:19.520 see this on a menu and you might see it 00:06:22.000 written as disco scolops which is the 00:06:24.960 name they're being 00:06:26.600 given disco. If you see disco scolops 00:06:30.400 might be one to keep an eye out for. And 00:06:32.160 definitely not aimed at the consumer but 00:06:33.759 if you want to catch your own disco 00:06:34.880 scolops £22 a light. Is this discovery 00:06:38.000 lighting the way for scolops or just a 00:06:41.199 flash in the pan? Oh. Oh, well, you 00:06:43.440 shouldn't cook them for long, should 00:06:44.479 you? I think that's very rubbery 00:06:46.800 otherwise. Yeah. Uh, Eders, I think this 00:06:48.400 is lighting the way. What a great 00:06:50.080 invention. Love it. In that case, let's 00:06:51.919 move on to round two. 00:06:54.000 No text 00:06:56.720 Thank you for doing the cl hovering. You 00:06:58.880 can now lift it. Pointless, but 00:07:02.160 we have a a sparkling and a red. So, go 00:07:05.840 for the sparkling first. 00:07:10.160 It's very fruity, very um peachy, I 00:07:12.639 would say. Very, very fruity, very 00:07:15.199 refreshing, very clean, delicious, 00:07:17.440 round, sparkling wine. And there's a red 00:07:18.880 there as well. Cheers. And bearing in 00:07:20.800 mind, obviously, wine isn't a trend. 00:07:23.039 What is the trend you think we're 00:07:24.800 looking at? I thought the sparkling 00:07:26.880 wasn't alcoholic. I thought the same cuz 00:07:29.120 I wasn't getting any alcohol burn 00:07:31.199 whereas the red is a very rich red. The 00:07:35.520 white is 11% so the very lower end of uh 00:07:39.120 wine ABV whereas the red is 14.7% so the 00:07:43.360 very higher end. Lift the second cl and 00:07:45.680 see if it gives you any other clues. 00:07:47.039 Wine grapes. So there's definitely grape 00:07:49.759 in it. A complete guide to 00:07:52.199 1,368 wine varieties including their 00:07:54.639 origins and flavors. Oh flipping it. an 00:07:57.520 absolute compendium of a book written by 00:08:01.280 masters of wine and it is the 00:08:03.520 encyclopedia of wine. There's no 00:08:05.199 pictures either. There are some 00:08:06.800 pictures. Oh, good. But not many. It's a 00:08:08.720 reference book. Before I put you out of 00:08:10.560 your misery, what do you think the trend 00:08:11.840 might be? Is it a guide to what drinking 00:08:14.960 it? Just understanding the berries and 00:08:16.319 what they what each berry is doing. 00:08:18.400 Berry grape berries. Is it about using 00:08:21.240 more grapes than we currently do? 00:08:25.639 Like are we monocropping grapes 00:08:28.319 essentially and we're trying to use more 00:08:30.560 grapes, more varieties? Excellent shout. 00:08:34.440 So the food standards agency said that 00:08:37.360 about 60% of UK consumers express a 00:08:39.519 willingness to try new foods and we are 00:08:42.000 all getting more food curious. And in 00:08:44.640 parallel to that, there are over 10,000 00:08:47.440 global grape varieties and yet just 13 00:08:51.040 account for a third of all international 00:08:53.519 plantings. All right. So, the trend is 00:08:58.080 the food curious, undiscovered, and lost 00:09:01.440 grape varieties. Interesting. Ebs, you 00:09:04.240 are a fan of wine. How many grape 00:09:07.040 varieties do you think you've tried in 00:09:09.040 your time? 50 to 100 maybe. I don't 00:09:11.360 know. I've not kept track of 00:09:13.040 individuals, possibly more. Maybe as 00:09:14.880 many as 150. But neither But neither of 00:09:19.760 these two as single 00:09:22.360 varietal. So, this is part of the loved 00:09:24.959 and found range at Waitros where they're 00:09:27.360 bucking the trend. If you stock a 00:09:28.959 Malbeck or a Shiraz or a Chardonnay or a 00:09:31.519 procco, you can pretty much guarantee it 00:09:33.200 will fly off the shelves cuz people are 00:09:34.480 familiar with it and they'll grab it. If 00:09:36.160 you put something on there that no one 00:09:37.519 has ever heard of, might not be able to 00:09:39.600 even read and pronounce cuz it's in 00:09:41.040 another language. What are the chances 00:09:43.200 that people pick it up? Gotcha. Well, 00:09:44.560 the trend is that the food curious are 00:09:46.560 going, \"Do you know what? A bit like 00:09:48.560 Pokémon. I want to catch them all.\" 00:09:50.640 Interesting. Yeah. Lovely interesting 00:09:52.480 comparison. Y before I learned a bit 00:09:54.959 more about wine, I was just picking at 00:09:57.200 random or picking the ones that kind of 00:09:58.959 look familiar to me. Um but now I find 00:10:01.440 myself trusting the selection that the 00:10:04.240 supermarket or the wine distributor put 00:10:06.800 on for you. I just go with their their 00:10:08.399 judgment and try something new every 00:10:09.680 time. I think this is this would be for 00:10:11.519 me. I don't really care about what grape 00:10:13.279 it is as long as it's delicious. Yeah. 00:10:16.079 And that's the difficult thing is when 00:10:17.519 you're looking at a label is knowing is 00:10:19.839 that going to be delicious. Is that what 00:10:21.920 I like? Yeah, this particular range uh 00:10:24.800 from Waitros. So, I actually I met their 00:10:26.880 wine buyer, Pia Paulo. He's a master of 00:10:29.440 wine and there's a few other masters of 00:10:30.959 wine who all uh work with that 00:10:32.560 supermarket and a lot of the other 00:10:33.680 retailers. They all have master of wines 00:10:35.200 working with them now. So, you can put 00:10:36.720 the trust in supermarket wines. And what 00:10:39.279 they said was that so many of these 00:10:41.519 grape types in their range are often 00:10:43.519 lost in blends. They're kind of blended 00:10:45.120 into stuff and you wouldn't know their 00:10:46.399 name or they're kind of indigenous and 00:10:48.160 don't have a place. 00:10:49.880 However, Chardonnay sales down 163% on 00:10:55.040 recent years. So, say Leithweights. Uh, 00:10:57.680 it had its peak in 2002 or three. 00:11:00.880 Footballers wives Chardonnay the 00:11:02.959 character. People calling their kids 00:11:05.399 Shardonnay. It was big. It's less trendy 00:11:08.079 now. New varieties are coming into play, 00:11:10.079 especially ones we haven't even heard 00:11:11.360 of. Fesca Alba. So, it is Muldoven. It 00:11:14.000 literally means white maiden. And they 00:11:16.560 say, you pretty much nailed it. uh ripe 00:11:18.399 pear, maybe some stone fruit, uh ginger 00:11:21.279 spice, a whisp of fresh herb on the 00:11:23.519 finish, but sparkling wine and only £9 a 00:11:27.120 bottle. N qu a bottle and the second 00:11:31.440 that's when we listen. 00:11:33.680 Now you're in. N quid sounds 9 quid. So 00:11:36.640 yeah, it's very very within reach and 00:11:38.880 affordable, which I guess is the scale 00:11:40.640 of the retail is able to do that. The 00:11:42.399 second one is Mataro, which is uh might 00:11:45.279 otherwise be called Muvedra. You may 00:11:47.360 have heard that from south of France, 00:11:48.880 but this is grown in Australia. It was 00:11:50.800 literally uprooted in the 1980s as part 00:11:52.800 of a government scheme cuz they wanted 00:11:54.320 to grow more uh Shiraz and actually only 00:11:57.600 recently it's been finding its feet 00:11:59.600 again cuz they found a few that hadn't 00:12:01.279 been uprooted. So, it was almost lost to 00:12:04.480 the archives and now it's making a 00:12:06.160 comeback and you'll get all the fruit 00:12:07.360 you mentioned plus some Chinese five 00:12:08.800 spice, pepper, and violet. I would 00:12:10.639 struggle to spend more than £10 on a 00:12:12.320 bottle of wine if I don't know that I'm 00:12:13.920 going to like it. Yeah, no joke. And so 00:12:15.760 to try something new, it needs to be 00:12:17.760 accessible 00:12:19.480 to more of a mainstream wine drinker or 00:12:23.920 drinking community. And that's the trend 00:12:25.680 we're seeing. People are more and more 00:12:27.040 food curious. You go to food markets um 00:12:29.839 in London and around the UK and you're 00:12:32.320 getting more and more curiosity about 00:12:34.560 food cuisines from around the world. 00:12:36.480 Often cuisines you know very little 00:12:38.079 about, but you get a chance in a small 00:12:39.519 plate just to try one portion for 8 to 00:12:42.000 12 quid. But it's the whole pomposity 00:12:45.120 around wine is that sometimes you don't 00:12:47.440 know what grapes you're drinking because 00:12:49.120 you're drinking a wine that is called 00:12:51.440 the name of the region or a brand and 00:12:54.399 sometimes it is the grape and it's just 00:12:55.839 like well unless you're going to get 00:12:57.120 into it no one really understands what's 00:12:59.920 going on. I don't know how many grape 00:13:01.279 types I've drunk in wine over the last 00:13:04.480 few years because I think it is really 00:13:06.240 hard to track. So finding ways to do it 00:13:07.760 in an easier way is going to help it 00:13:09.680 become more accessible. We sit in very 00:13:11.680 unusual positions cuz we play a lot of 00:13:13.680 these games on the channel. But do you 00:13:15.200 think you are very comfortable in what 00:13:17.680 you know about food and drink or are you 00:13:20.240 always on the lookout for something new? 00:13:21.920 One thing has proven on this show over 00:13:24.079 and over again is that we know nothing 00:13:26.000 and the times are always changing and 00:13:27.600 you have to keep moving with it. We know 00:13:29.440 more than a lot of people but relative 00:13:31.839 to how much there is to know, it's 00:13:34.079 nothing. So always always finding new 00:13:36.720 stuff. In which case, the final 00:13:38.079 question. Are you going to pop a cork on 00:13:39.839 something new or are you fine the way 00:13:41.279 you are? Keep them popping, Evans. 00:13:43.440 Because you are so nicely, I will pop 00:13:44.880 your cork. Excellent. In which case, 00:13:46.800 round three. 00:13:48.000 No text 00:13:48.640 [Music] 00:13:50.880 Number three, lift cloch. A 00:13:54.190 [Music] 00:13:56.399 uh some kind of meat, but it's sweet. It 00:13:59.040 looks like a fake meat. It looks like a 00:14:00.800 a a dried fruit. You know what I mean? 00:14:02.880 It's got like pulled meat kind of. 00:14:07.120 No, it's not meat. Oh, that's not meat. 00:14:09.920 That's That 00:14:11.800 is like meat. You know what? That that 00:14:15.199 tastes like half meat, half Christmas 00:14:18.959 pudding. Ooh, it has got that jellied 00:14:22.880 aspect to it. Yeah. Kind of like dried 00:14:25.680 fruit. I mean, we have tossed it in a 00:14:28.480 barbecue sauce which does have spice and 00:14:30.959 smoke and fruit. Any idea what it is? It 00:14:33.680 feels like a meat replacement, but still 00:14:36.639 a natural product, if that makes sense. 00:14:38.800 It's not lab grown meat or something 00:14:42.240 like that. A bit like jackf fruit. Yeah. 00:14:46.480 If clash be 00:14:49.279 mushrooms 00:14:50.800 doesn't taste like a mushroom. Shiakei 00:14:53.600 mushrooms at that and specifically the 00:14:56.639 stalks. Right boys, we crafted you some 00:14:59.120 simple tacos. But first off, a stat. The 00:15:02.079 European Union have said that the volume 00:15:03.680 in the meat substitution segment of the 00:15:05.680 market is forecast to continue 00:15:07.680 increasing between 2025 in 2030 by 00:15:11.279 another 00:15:12.600 41% after the 10th consecutive 00:15:15.279 increasing year. So it continues to move 00:15:18.000 up. This is not an alternative protein. 00:15:21.199 This is a meat alternative because the 00:15:23.279 protein content of mushrooms is about 2% 00:15:25.440 compared to that of beef or chicken or 00:15:27.839 pork or what it is replacing. Gotcha. 00:15:30.959 I've definitely said in the past that I 00:15:32.480 could easily substitute meat with 00:15:35.199 mushrooms. I adore them. Funny how that 00:15:38.880 one didn't appeal to me on the first 00:15:40.880 bite. This is a product called Fable 00:15:43.199 which you can buy. It is the shiakei 00:15:45.519 mushroom stalk as a meat alternative and 00:15:48.639 then you can flavor it how you like. 00:15:50.720 It's used a lot in industry. Wagam 00:15:53.440 Mumas, Roses Thai, some of their vegan, 00:15:56.160 vegetarian options on the menu use this 00:15:58.079 product, but it is also available uh 00:16:00.480 from places like Holland and Barrett. 00:16:02.079 Cheers. You just smashed my taco. 00:16:07.760 [Music] 00:16:12.480 In that setup, it works because there's 00:16:15.279 so much other stuff going on. There's so 00:16:17.120 many other distract textures, flavors, 00:16:19.680 distractions that you're not just 00:16:21.920 tasting the mushroom. No, no, it's doing 00:16:25.680 it's doing a 00:16:27.800 job. I'm intrigued by it being the 00:16:30.560 shiakei stalk 00:16:32.759 specifically. Why? Have you ever seen 00:16:35.040 shiakei mushrooms grow? So shiakei 00:16:38.399 literally the shi h i is the type of 00:16:42.399 tree and take is mushroom. So shitake is 00:16:45.839 literally tree mushroom and they grow 00:16:47.920 from trees. The stalks are really quite 00:16:50.639 long. However, when they're harvested, 00:16:52.240 they don't want to give the consumer the 00:16:53.600 really long stalk cuz actually the 00:16:56.240 texture is quite chewy and fibrous. So 00:16:59.199 they snip it off and you buy shiakei 00:17:00.800 mushrooms like that. There's a huge 00:17:02.560 amount of bow-waste from anyone who is 00:17:04.640 farming shiakei mushrooms and they've 00:17:05.919 got nothing to do with that long stalk. 00:17:07.679 this company Fable take that shiitakei 00:17:10.160 mushroom stalk which is otherwise 00:17:11.760 agricultural waste and turn it into a 00:17:14.240 product and even people like H use in 00:17:17.439 his restaurants. Now, whenever we have 00:17:19.039 conversations like this, the comments 00:17:20.480 always pipe up and say there isn't much 00:17:23.679 waste in the food manufacturing 00:17:26.079 industry. Everything goes somewhere at 00:17:28.640 some point. Turning it into more 00:17:30.559 consumerf facing items does have, I 00:17:33.600 think, probably more profit attached to 00:17:35.919 it and brand building and all of that 00:17:37.919 kind of thing. Fable say that you can 00:17:39.600 put it into burgers, wraps, salads, 00:17:41.360 stirfries, stews, curries, and more. 00:17:43.919 Great in dumplings. You can flavor them 00:17:45.679 any which way. It was at the if that I 00:17:48.160 went to looking at other food trends in 00:17:49.760 the area and uh the guy on the fable 00:17:52.480 stand waved me over and said, \"Been a 00:17:54.320 fan of the channel for years and years 00:17:55.679 and years. Have you ever heard about 00:17:57.280 this?\" He pointed out GMO free, 00:17:59.760 preservative free. Uh it's also a 00:18:02.160 thousand times less land per calorie 00:18:05.840 than beef and is 100% carbon neutral. 00:18:08.960 How process heavy is it? Because that's 00:18:10.799 one of the things we've seen with yes, 00:18:12.320 it's a meat alternative and you're not 00:18:13.840 doing the meat side of things, but is it 00:18:16.720 so ultrarocessed that you're creating a 00:18:18.880 load of other potential problems over 00:18:20.880 here instead? You're very right. 00:18:22.559 Compared to shiitakei mushroom stalks or 00:18:25.120 the mushrooms as they are, they are more 00:18:27.679 processed but free of GMO preservatives, 00:18:31.760 artificial ingredients and minimally so 00:18:34.320 because the mushroom is already dense, 00:18:36.559 fleshy fibers and has the umami flavor, 00:18:38.559 the glutamates that we love in food. So 00:18:41.840 yes, it's a processed food ultra an 00:18:44.559 ultrarocessed food. Not something you 00:18:45.760 could do at home, but it is using the 00:18:48.320 agricultural by waste and it's not 00:18:50.000 adding in extra preservatives or 00:18:52.160 artificial ingredients. Again, I love 00:18:54.320 that texture for me. It's not it won't 00:18:56.960 replace a meat that I already love in 00:18:59.360 the setting, but it's a good 00:19:00.799 alternative. It falls into the meat 00:19:02.960 alternative bracket, but when I was 00:19:04.640 speaking to them, they were like, \"We 00:19:05.919 want this to be a mushroom product, not 00:19:07.840 a meat alternative product.\" and it uses 00:19:10.160 the byproduct of waste. Interestingly, 00:19:12.320 funstat, this meat alternative is more 00:19:14.799 closely related to an animal than it is 00:19:16.640 a plant. So, the co-founder Michael Fox 00:19:19.520 said in an interview with Total Food, on 00:19:21.039 the evolutionary tree, fungi are more 00:19:23.760 closely related to animals than they are 00:19:25.120 to plants. Cuz fungi are a type of 00:19:27.039 bacteria, not a type Yeah. Yeah. Yeah. 00:19:28.799 Yeah. Yeah. Their own their own little 00:19:30.080 bracket. Animal, mineral, vegetable, 00:19:32.160 none. Price-wise, a 250 g pack of 00:19:35.200 Holland and Barrett comes in at 00:19:36.840 £4.79. So, it's also at the moment kind 00:19:39.440 of on par with the price of a good 00:19:41.679 steak, I guess. Which leaves just one 00:19:44.559 question. Is this just another folklore 00:19:46.880 and fable 00:19:48.960 or will this make you the fun guy at 00:19:50.400 your next taco party? 00:19:53.320 I like and don't love them. I like the 00:19:57.120 story. Yeah, I like the story. I'm not 00:19:59.840 100% 00:20:01.799 convinced by that just yet. Fair enough. 00:20:05.440 One more for you. 00:20:07.000 No text 00:20:07.270 [Music] 00:20:09.919 Lift away on a 00:20:13.280 more drinks. A 00:20:15.160 carbonated beverage. Oh, there's a 00:20:17.360 frothy beverageage. 00:20:21.679 It's got fizz. It's got a sourness to 00:20:23.840 it. So, one of my favorite drinks at the 00:20:25.840 moment is I've got aloe vera juice with 00:20:28.480 the little globles in it. Yeah. It's 00:20:30.799 just I'm I love it so much. It's the 00:20:32.400 wetest thing ever. Yeah. This has got 00:20:34.080 that same refreshing vibe to it. Yeah. 00:20:36.559 Like coconut water being more refreshing 00:20:38.480 than water. Water. Yeah. Because of its 00:20:40.480 viscosity, it fills more of your mouth 00:20:42.880 than water that would just disappear. 00:20:44.960 It's almost got a grapy. A bit like a 00:20:48.000 bit like the first earlier. It's quite 00:20:50.000 grapy. 00:20:51.679 Any other flavor notes? It's like a It's 00:20:53.760 like an almost a an a curd. An apple 00:20:56.120 curd. Like a apple pie. Apple pie. Apple 00:21:00.159 could be could be interesting. They say 00:21:02.480 notes of pear, lyche, citrus, but most 00:21:06.080 importantly tropical. Oh, I would say 00:21:08.400 that tropical. And that's because this 00:21:10.400 grows within 20° of the equator in the 00:21:13.679 tropical belt. Lift clch. It's delicious 00:21:16.400 though. I love that cocoa chocolate. The 00:21:21.280 cacao fruit. M. I've had chocolate 00:21:24.640 before. This tastes nothing like it. 00:21:27.440 That Barry is because 00:21:30.480 70% of the cacao fruit is discarded 00:21:33.440 after cocoa bean production cuz it's 00:21:36.000 just the beans we use. The white fleshy 00:21:39.039 fruit around the outside which is very 00:21:41.120 tropical but not necessarily 00:21:43.080 chocolatey is often wasted. Now 00:21:45.760 sometimes it is left on the bean to 00:21:47.280 ferment and to give the chocolate some 00:21:48.720 of its characters and notes but more 00:21:50.480 often than not it's just lost. So this 00:21:53.919 drink cowba upcycles this superfruit in 00:21:58.799 situ to trap in its goodness and then 00:22:01.520 they just combine literally two 00:22:02.960 ingredients. Cold pressed cacao fruit 00:22:05.840 juice and sparkling water. That's it. 00:22:09.400 Oo. They've got a really tough job here 00:22:12.640 cuz I picked that up and I think that 00:22:14.000 looks like a kombucha can. Yes. Yeah. 00:22:17.120 But you read it and you go cacao fruit. 00:22:19.440 You just assume it to be chocolatey. 00:22:21.280 deliciously tropical but it's not 00:22:23.919 chocolatey. You mentioned coconut water 00:22:25.760 a little while ago and in a similar way 00:22:28.240 this has all that natural kind of 00:22:29.919 flavonoid supporting heart health 00:22:31.840 wellness. It's considered a super fruit 00:22:34.320 in the terms of its number of micro 00:22:37.039 nutrients uh in it as a fruit per 100 g 00:22:40.240 means it is very good for you but only 00:22:42.240 if it can be preserved. And we 00:22:43.600 deliberately got that cocoa pod sent 00:22:46.000 over. Um, and already when we cut into 00:22:48.720 it, you know, that's been on a ship for 00:22:50.880 an awful long time. It's not at its 00:22:53.200 best. The beans will be absolutely fine, 00:22:54.799 but the fruit inside is not preserved as 00:22:56.960 well as if it's processed, coldressed in 00:22:59.679 place of origin, and canned. I really 00:23:02.000 like it. And it's something that's 00:23:04.280 completely new. It reminds me a little 00:23:06.640 bit of a sour, but it has that egg white 00:23:10.000 kind of thickness to it. Yeah. And 00:23:12.000 that's because it's literally just cold 00:23:13.280 pressed. So they take all of that pulp, 00:23:15.120 cold press it, and then mix it in with 00:23:17.600 uh sparkling water. They have lots of 00:23:20.799 recipes for cocktails on their website. 00:23:23.440 But importantly, ethically sourced by 00:23:25.600 working directly with the cacao farmers, 00:23:27.360 which actually gives them a whole 00:23:28.960 another revenue stream. So they will get 00:23:31.120 X for their cocoa beans on the market at 00:23:33.919 the price of cocoa beans and if if 00:23:36.080 they're lucky the fair trade price and 00:23:37.520 if they're lucky an even better price 00:23:39.280 when they're working directly with 00:23:40.400 chocoliers who care but 70% of the fruit 00:23:43.120 often goes to waste and now with this 00:23:46.000 company they will get revenues for the 00:23:48.159 bit that normally just rots and the 00:23:50.960 company founder Matthew Halford uh says 00:23:54.559 that it's pretty much 100% sustainable 00:23:56.720 because it's all waste material and 00:23:59.280 they're the first company using cow 00:24:01.360 fruit at this scale in the UK because 00:24:03.520 it's only recently been allowed because 00:24:06.000 up until then it wasn't considered food 00:24:08.080 so they couldn't control it. 00:24:09.600 Interesting. That's incredible. So not 00:24:11.360 unlike the shiitakei mushroom stalks, it 00:24:13.520 is upycling agricultural waste. A lot of 00:24:16.799 resource and input goes into growing the 00:24:18.480 fruit in the first place. It's a shame 00:24:20.000 to throw away 70%. The cocoa bean 00:24:21.919 industry creates 10 million metric tons 00:24:25.679 of waste a year just so we can have the 00:24:28.640 beans turned into chocolate because it's 00:24:30.880 brand new as a category as a and as a 00:24:33.840 product. How do you educate and explain 00:24:36.799 to people what it is, why it's good, how 00:24:39.679 do you get them to taste like that's 00:24:41.120 going to need so much investment to get 00:24:42.720 it off the ground and to get it into any 00:24:45.760 kind of mainstream thinking. Price-wise, 00:24:48.559 uh, currently available from them at £30 00:24:51.440 for 12 cans. So, actually on par with 00:24:54.720 most high-end kombuchas and sparkling 00:24:57.200 drinks. So, the question, oh, a 00:24:59.840 sparkling new idea or a bio waste of 00:25:02.640 time. I think it's a sparkling new idea. 00:25:04.880 I'd love to see it take off. Really 00:25:06.640 would. Yeah, I'm intrigued to see where 00:25:08.559 it's going to go. Definitely sparkling. 00:25:11.200 Excellent. Comment down below of those 00:25:13.039 four food trends, which would you most 00:25:15.919 like to try? And if you see other things 00:25:18.480 out and about in the world of food and 00:25:19.600 drink that we should be covering, we 00:25:21.120 want to hear from you. Comment down 00:25:22.159 below.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        56
      ],
      "id": "8d75c6a8-270f-4154-a00f-9920aa0e100e",
      "name": "Interface Input"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "youtube_url",
        "key": "={{ $json.youtube_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        448,
        56
      ],
      "id": "1c0ce3f1-1148-42a0-bab1-00c4135710c5",
      "name": "Check Cache",
      "credentials": {
        "redis": {
          "id": "7TaMNoBPIrbkoYzr",
          "name": "Valkey Heroku"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this cleaned video transcript, create social media content for Facebook, Instagram, and LinkedIn, plus image generation prompts for each post.\n\nTRANSCRIPT:\n{{ $json.cleaned_text }}\n\nREQUIREMENTS:\n- Facebook: Engaging post with 2-3 paragraphs, focus on community and sharing\n- Instagram: Captivating caption with relevant hashtags, focus on visual appeal\n- LinkedIn: Professional tone, business insights, industry relevance\n- Image Prompts: Detailed, visual descriptions for Hugging Face image generation\n- Return content in the exact JSON structure specified",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional social media content creator specializing in creating engaging, platform-optimized content from video transcripts. Your task is to analyze the cleaned transcript and generate social media content for Facebook, Instagram, and LinkedIn, plus image generation prompts for each post.  IMPORTANT RULES: - Create content that feels native to each platform - Use appropriate tone and style for each network - Include relevant hashtags for discoverability - Keep content engaging and shareable - Focus on the key insights and trends from the transcript - Use emojis strategically but not excessively - Generate detailed image prompts for Hugging Face image generation - Return content in the exact JSON structure specified - Always base your content on the actual transcript content provided - Ensure hashtags are relevant to the specific content, not generic - Make image prompts descriptive and specific to the post content"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        56
      ],
      "id": "34cc32ac-364f-4849-9d74-64f0b0a317a3",
      "name": "Generate Content"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        904,
        280
      ],
      "id": "b9abeadb-057b-4933-bbe9-25810573487c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aeuJfNVaRiMKCCCX",
          "name": "Gemini Key 1 alexandre.spindola11@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"facebook\": {\n    \"content\": \"Your Facebook post content here with paragraphs and emojis\",\n    \"hashtags\": [\"#hashtag1\", \"#hashtag2\", \"#hashtag3\"],\n    \"character_count\": 280,\n    \"prompt_generate_image\": \"Detailed image description for Hugging Face\"\n  },\n  \"instagram\": {\n    \"content\": \"Your Instagram caption content here with emojis and line breaks\",\n    \"hashtags\": [\"#hashtag1\", \"#hashtag2\", \"#hashtag3\", \"#hashtag4\"],\n    \"character_count\": 2200,\n    \"prompt_generate_image\": \"Detailed image description for Hugging Face\"\n  },\n  \"linkedin\": {\n    \"content\": \"Your LinkedIn professional post content here with business insights\",\n    \"hashtags\": [\"#hashtag1\", \"#hashtag2\", \"#hashtag3\"],\n    \"character_count\": 3000,\n    \"prompt_generate_image\": \"Detailed image description for Hugging Face\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1032,
        280
      ],
      "id": "9b22a8e6-a380-4cab-845d-aecbe7aca15f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content-alchemist-cleaner.deno.dev",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transcript",
              "value": "={{ $('Interface Input').item.json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        56
      ],
      "id": "3e18b302-235f-451d-8759-f5d6ec7b82cb",
      "name": "Clean Content"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1248,
        56
      ],
      "id": "b4198288-e111-4ccb-9da1-394385f7d416",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-dev",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "image/png"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $('Loop Over Items').item.json.prompt_generate_image }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -16
      ],
      "id": "c97b5148-2543-463f-add5-0b20fdcc5ec8",
      "name": "CREATE Image Hugging Face",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kCd8PijP62UfMIGo",
          "name": "Header Auth Hugging Face"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Importar o módulo crypto do Node.js\nconst crypto = require('crypto');\n\n// Gerar um hash aleatório\nconst randomHash = crypto.randomBytes(20).toString('hex');\n\n// Retornar o hash aleatório\nreturn {\n    json: {\n        randomHash: randomHash,\n    },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -16
      ],
      "id": "7874d41b-3916-4507-9f50-68c2c59e3ef9",
      "name": "CREATE Hash"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1472,
        56
      ],
      "id": "6e283083-c33e-46c6-827b-a21a493cd2ca",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "alexandre-spindola",
        "objectName": "=img/{{ $now.format('yyyy-MM-dd')}}-{{ $('CREATE Hash').item.json.randomHash }}.png",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        2144,
        64
      ],
      "id": "d1ded754-f8c5-456d-bb45-9a7c24f46ba4",
      "name": "POST Google Cloud Storage",
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "3PR0WKD8VLeI3yvf",
          "name": "Google Cloud Storage Alexandre Spindola"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1776,
        -272
      ],
      "id": "8d6adb49-b08f-4915-9ff8-c05f2f37ddbb",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mpzfbBgCoOnfdJjL",
          "name": "Google Sheets alexandre.spindola11@gmail.com"
        }
      }
    }
  ],
  "pinData": {
    "Generate Content": [
      {
        "json": {
          "output": {
            "facebook": {
              "content": "Get ready to dive into some truly exciting food trends! 🤩 This episode of Food Trends explores incredible innovations, from sustainable seafood to surprising new sips.\n\nFirst up, imagine scallops that are attracted to light – 'Disco Scallops'! 💡 This brand-new technology uses special lights to humanely attract scallops, offering a sustainable alternative to environmentally damaging dredging and the high cost of hand-diving. It's a game-changer for our oceans and our plates, increasing catch rates by an astounding 22,000%! Who knew scallops had eyes and loved a good light show? 🌊\n\nBut that's not all! We also uncover the 'food curious' trend, where consumers are discovering lost grape varieties in wine 🍇, upcycled shiitake mushroom stalks becoming a delicious meat alternative called Fable 🍄, and the incredible, non-chocolatey sparkling drink made from discarded cacao fruit pulp 🍹. Each trend tackles waste, promotes sustainability, or expands our culinary horizons.\n\nWhich of these innovative trends are you most excited to try or learn more about? Share your thoughts below! 👇",
              "hashtags": [
                "FoodTrends",
                "SustainableSeafood",
                "DiscoScallops",
                "ScallopLight",
                "WineTrends",
                "GrapeVarieties",
                "MeatAlternatives",
                "MushroomMagic",
                "FableFood",
                "CacaoFruit",
                "Upcycling",
                "FoodInnovation",
                "SustainableEating",
                "EcoFriendly"
              ],
              "character_count": 1060,
              "prompt_generate_image": "A vibrant, dynamic collage showcasing four food trends: A bioluminescent 'disco scallop' glowing underwater next to a light trap, with other marine life in the background; a diverse array of wine grapes in various colors, some ancient, some modern, artfully arranged in a vineyard setting; a savory taco filled with pulled shiitake mushroom stalks, garnished with fresh herbs and salsa; and a refreshing sparkling drink in a sleek, modern can next to a whole, ripe cacao fruit pod, with its white, pulpy interior visible. The overall aesthetic is modern, clean, and inviting, with a focus on natural elements and technological innovation."
            },
            "instagram": {
              "content": "Dive into the future of food with these mind-blowing trends! 🤯 We're talking 'Disco Scallops' – an incredible innovation using light to sustainably harvest scallops, reducing environmental damage and boosting catch rates by 22,000%! 💡🌊 Then, get ready to expand your palate with undiscovered wine grape varieties, transform shiitake mushroom stalks into a delicious meat alternative (hello, Fable!), and sip on a refreshing, tropical sparkling drink made from upcycled cacao fruit pulp. 🍄🍇🍹 Which trend are you most curious about? Let us know! 👇 #FoodTrends #Innovation #SustainableFood #EatSmart",
              "hashtags": [
                "DiscoScallops",
                "ScallopLight",
                "SustainableSeafood",
                "WineLover",
                "GrapeExplorer",
                "FableFood",
                "MeatAlternative",
                "MushroomPower",
                "CacaoFruit",
                "UpcycledFood",
                "Foodie",
                "FutureOfFood",
                "EcoFriendly",
                "TasteTest",
                "FoodDiscovery"
              ],
              "character_count": 512,
              "prompt_generate_image": "A visually striking, high-contrast flat lay image with four distinct quadrants, each representing one food trend. Top left: A close-up of a perfectly seared scallop with a soft blue glow, hinting at 'disco scallops' and light attraction, on a dark, textured plate. Top right: A beautifully arranged selection of vibrant, unusual wine grapes with a rustic, elegant feel, perhaps in a wooden bowl. Bottom left: A gourmet-style taco or burger featuring savory, pulled shiitake mushroom stalks as a meat alternative, with fresh garnishes like cilantro and lime. Bottom right: A sleek, modern can of sparkling cacao fruit drink, with condensation, next to a halved cacao fruit revealing its white, pulpy interior, on a clean, light surface. The lighting is bright and inviting, emphasizing freshness and innovation."
            },
            "linkedin": {
              "content": "Exploring the cutting edge of food and drink innovation, this week's analysis reveals four transformative trends set to impact the industry and global sustainability efforts.\n\nFirstly, the 'Scolop Light' technology marks a significant advancement in sustainable aquaculture. By leveraging scallops' natural attraction to light, this method offers a highly efficient and environmentally responsible alternative to traditional dredging, which causes extensive seabed damage. With a reported 22,000% increase in catch rates compared to non-light methods, this innovation has the potential to reshape sustainable seafood sourcing and supply chains, sitting ideally between costly hand-diving and environmentally harmful dredging.\n\nBeyond seafood, we're observing a growing 'food curious' consumer segment driving demand for diversification in the wine market. With only 13 grape varieties accounting for a third of global plantings, the exploration of thousands of undiscovered or lost varieties presents new opportunities for vineyards, retailers, and sommeliers to innovate their offerings and cater to an expanding sophisticated palate.\n\nFurther reinforcing the circular economy, two other trends highlight ingenious upcycling. 'Fable,' a meat alternative crafted from otherwise discarded shiitake mushroom stalks, addresses agricultural waste while meeting the surging demand for plant-based proteins. Similarly, the creation of a refreshing sparkling beverage from the 70% of cacao fruit pulp typically wasted in chocolate production not only reduces significant waste (10 million metric tons annually) but also creates new revenue streams for cacao farmers and introduces a nutrient-rich 'superfruit' to the beverage market.\n\nThese innovations collectively underscore a powerful shift towards sustainability, waste reduction, and consumer-driven diversification within the food and beverage industry. Companies embracing these methods are poised for significant market advantage and positive environmental impact. #FoodInnovation #Sustainability #Aquaculture #WineIndustry #PlantBased #CircularEconomy #FoodWaste #BeverageTrends #AgriTech",
              "hashtags": [
                "FoodInnovation",
                "Sustainability",
                "Aquaculture",
                "ScolopLight",
                "SustainableSeafood",
                "WineIndustry",
                "GrapeVarieties",
                "PlantBased",
                "MeatAlternatives",
                "FableFood",
                "CircularEconomy",
                "FoodWaste",
                "CacaoFruit",
                "BeverageTrends",
                "AgriTech",
                "SupplyChain",
                "EcoInnovation"
              ],
              "character_count": 1902,
              "prompt_generate_image": "A professional and clean composite image focusing on innovation and sustainability in the food industry. At the center, a stylized graphic of a scallop with a subtle, glowing light aura, representing the 'Scolop Light' technology. Around it, interconnected visual elements representing the other trends: A diverse range of elegant wine bottles with unique, modern labels suggesting rare grape varieties; a sleek, gourmet-style, plant-based meal featuring mushroom-based meat alternative presented artistically; and a sparkling beverage can with a minimalist, high-end design, subtly incorporating cacao fruit imagery (not chocolate). The background is a clean, corporate-friendly gradient with subtle tech patterns, emphasizing a forward-thinking and responsible approach to food and drink innovation and supply chain improvements. The overall tone is sophisticated and impactful."
            }
          }
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Interface Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interface Input": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Clean Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Content",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE Hash": {
      "main": [
        [
          {
            "node": "CREATE Image Hugging Face",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE Image Hugging Face": {
      "main": [
        [
          {
            "node": "POST Google Cloud Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CREATE Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Google Cloud Storage": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfd3d25e-3d3d-49c4-89a3-27a094ede6a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e8cd585d79c04ebe416ae79f7875a6aa1c7d772f5a48602ee3806a48dd1dc68"
  },
  "id": "72qR9zUL5gKD6EBC",
  "tags": []
}